@using Entities.Concrete;
@model Hour;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Hour</h3>
    @using (Html.BeginForm("add", "Hour", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Hours")
        @Html.TextBoxFor(hour=>hour.Hours,new { @class = "form-control " })
        @Html.ValidationMessageFor(hour=>hour.Hours,"",new { @class =" text-danger" })
        <br />
          @Html.Label("Time")
        @Html.TextBoxFor(hour=>hour.Time,new { @class = "form-control" })
        @Html.ValidationMessageFor(hour=>hour.Time,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            <option>False</option>
            <option>True</option>
        </select>
        <br />
        <input class="button-change form-control btn btn-primary" type="submit" value="Add" />
    }
</div>


