@using Entities.Concrete;
@model ChoseUs;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
            <br />
        <br />

    <h3 style="text-align:center;">Update Reason</h3>
        <br />

    @using (Html.BeginForm("Update", "ChoseUs", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(cu=>cu.ChoseUsId,new { @class = "form-control",@type="hidden"})
        @Html.Label("Reason Title")
        @Html.TextBoxFor(cu=>cu.ReasonTitle ,new { @class = "form-control" })
        @Html.ValidationMessageFor(cu=>cu.ReasonTitle  ,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Reason Detail")
        @Html.TextBoxFor(cu=>cu.ReasonDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(cu=>cu.ReasonDetail,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Icon")
         <select class="form-control" name="ChoseUsIcon">
                                        <option selected>@Model.ChoseUsIcon</option>
									<option>flaticon-001-mattress</option>
                                    <option>flaticon-002-dumbell</option>
                                    <option>flaticon-003-weight</option>
                                    <option>flaticon-004-measuring-tape</option>
                                    <option>flaticon-005-clipboard</option>
                                    <option>flaticon-006-weight-1</option>
                                    <option>flaticon-007-rings</option>
                                    <option>flaticon-008-calendar</option>
                                    <option>flaticon-009-smartwatch</option>
                                    <option>flaticon-010-lockers</option>
                                    <option>flaticon-011-punching-ball</option>
                                    <option>flaticon-012-bag</option>
                                    <option>flaticon-013-balance</option>
                                    <option>flaticon-014-heart-beat</option>
                                    <option>flaticon-015-proteins</option>
                                    <option>flaticon-016-fitness</option>
                                    <option>flaticon-017-pull-up-bar</option>
                                    <option>flaticon-018-scale</option>
                                    <option>flaticon-019-bands</option>
                                    <option>flaticon-020-smartphone</option>
                                    <option>flaticon-021-tshirt</option>
                                    <option>flaticon-022-short</option>
                                    <option>flaticon-023-dumbbells</option>
                                    <option>flaticon-024-jumping-rope</option>
                                    <option>flaticon-025-fitness-1</option>
                                    <option>flaticon-026-gym</option>
                                    <option>flaticon-027-fitness-2</option>
                                    <option>flaticon-028-weightlifting</option>
                                    <option>flaticon-029-wheel</option>
                                    <option>flaticon-030-dumbbells-1</option>
                                    <option>flaticon-031-workout</option>
                                    <option>flaticon-032-bottle</option>
                                    <option>flaticon-033-juice</option>
                                    <option>flaticon-034-stationary-bike</option>
                                    <option>flaticon-035-punching-ball-1</option>
                                    <option>flaticon-036-timer</option>
                                    <option>flaticon-037-medal</option>
                                    <option>flaticon-038-treadmill</option>
                                    <option>flaticon-039-syringe</option>
                                    <option>flaticon-040-whistle</option>
                                    <option>flaticon-041-chest</option>
                                    <option>flaticon-042-pills</option>
                                    <option>flaticon-043-mp3</option>
                                    <option>flaticon-044-no-smoking</option>
                                    <option>flaticon-045-boxing-gloves</option>
                                    <option>flaticon-046-gloves</option>
                                    <option>flaticon-047-buck</option>
                                    <option>flaticon-048-headgear</option>
                                    <option>flaticon-049-hand-grip</option>
                                    <option>flaticon-050-no-fast-food</option>
		</select>
        @Html.ValidationMessageFor(cu=>cu.ChoseUsIcon,"",new { @class ="text-danger" })
            
        <br />
            <input class="button-change form-control btn btn-success" type="submit" value="Update Reason" />
    }
</div>