@using Entities.Concrete;
@model User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_HomePage.cshtml";
    var list = (List<Menu>)ViewBag.menu;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/gymlife/css/index.css">
    <title>Register</title>
</head>

<body style=background:#0a0a08;>
    <section class="breadcrumb-section set-bg" style="margin-top:-250px;height:620px;">
     <img src="~/gymlife/img/breadcrumb-bg.jpg" style="overflow:hidden;">
    <div class="container" style="margin-top:-200px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Register</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <span>Join Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 

    <div class="mx-auto container" style="background:#464646;">

        <!-- Progress Form -->
        <form id="progress-form" class="p-4 progress-form forms-sample" action="/HomePage/Register" method="post" enctype="multipart/form-data" style="background:#464646;" novalidate>

            <!-- Step Navigation -->
            <div class="d-flex align-items-start mb-3 sm:mb-5 progress-form__tabs" role="tablist">
                <button id="progress-form__tab-1" class="flex-1 px-0 pt-2 progress-form__tabs-item" type="button" role="tab" aria-controls="progress-form__panel-1" aria-selected="true">
              <span class="d-block step" aria-hidden="true">Step 1 <span class="sm:d-none">of 3</span></span>
              Details
            </button>
                <button id="progress-form__tab-2" class="flex-1 px-0 pt-2 progress-form__tabs-item" type="button" role="tab" aria-controls="progress-form__panel-2" aria-selected="false" tabindex="-1" aria-disabled="true">
              <span class="d-block step" aria-hidden="true">Step 2 <span class="sm:d-none">of 3</span></span>
              Shipping
            </button>
                
            </div>
            <!-- / End Step Navigation -->

            <!-- Step 1 -->
            <section id="progress-form__panel-1" role="tabpanel" aria-labelledby="progress-form__tab-1" tabindex="0" >
            <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="FirstName">
                  First name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="FirstName" type="text" name="FirstName" autocomplete="given-name" value="@Model.FirstName"  required >
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
                  Last name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="last-name" type="text" name="LastName" autocomplete="family-name" value="@Model.LastName"  required>
                    </div>
                </div>

                <!-- nickname adı ve gender -->
                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__fiedivld">
                        <label for="first-name">
                  Nick Name
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="first-name" type="text" name="UserLogin" autocomplete="given-name"  value="@Model.UserLogin" required>
                    </div>


                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="address-state">
                  Gender
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <select id="address-state" name="Gender" autocomplete="shipping address-level1" required style="height: 48px; ">

                        <option value="Null" disabled selected>Please select</option>
                        <option value="true">Man</option>
                        <option value="false">Women</option>
                        </select>
                    </div>
                </div>

                <!-- password -->
                <div class="sm:d-grid sm:grid-col-2 sm:mt-3" onsubmit="return verifyPassword()">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
                  Password
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="passwordFirst" type="password" name="UserPassWord" value="@Model.UserPassword" required>
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
                  Again Password
                  <span data-required="true" aria-hidden="true"></span>
                </label>
                        <input id="passwordSecond" type="password" name="passwordSecond" required>
                    </div>
                </div>
                <div id="message">
                    <h3>Password must contain the following:</h3>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>

                <div class="mt-3 form__field">
                    <label for="email-address">
                Email address
                <span data-required="true" aria-hidden="true"></span>
              </label>
                    <input id="email-address" type="email" name="Mail" autocomplete="email" inputmode="email"  value="@Model.Mail" required>
                </div>

                <div class="mt-1 form__field">
                    <label class="form__choice-wrapper">
                <input id="email-newsletter" type="checkbox" name="email-newsletter" value="Yes" checked>
                <span>Yes, I would like to sign up to receive the newsletter</span>
              </label>
                </div>

                <div class="mt-3 form__field">
                    <label for="phone-number">
                Phone number (optional)
              </label>
                    <input id="phone-number" type="tel" name="PhoneNo" autocomplete="tel" inputmode="tel"  value="@Model.PhoneNo">
                </div>

                <div class="mt-3 form__field">
                    <label for="address">
              National
              <span data-required="true" aria-hidden="true"></span>
            </label>
                    <input id="address" type="text" name="NationalId" autocomplete="shipping address-line1" maxlength="11"  value="@Model.NationalId" required>
                </div>



                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
              Height
              <span data-required="true" aria-hidden="true"></span>
            </label>
                        <input id="height-name" type="text" name="Height" autocomplete="given-name" maxlength="3"  value="@Model.Height" required>
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
              Weight
              <span data-required="true" aria-hidden="true"></span>
            </label>
                        <input id="last-name" type="text" name="Weight" autocomplete="family-name" maxlength="3"  value="@Model.Weight" required>
                    </div>
                </div>


                <div class="sm:d-grid sm:grid-col-2 sm:mt-3">
                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="first-name">
            Date Of Birth
            <span data-required="true" aria-hidden="true"></span>
          </label>
                        <input id="first-name" type="date" name="DateOfBirth" autocomplete="given-name" value="@Model.DateOfBirth" required>
                        
                    </div>

                    <div class="mt-3 sm:mt-0 form__field">
                        <label for="last-name">
            Remaining Right
            <span data-required="true" aria-hidden="true"></span>
          </label>
                        <input id="last-name" type="text" name="RemainingRight" autocomplete="family-name" value="@Model.RemainingRight" required>
                    </div>
                </div>


                
               
              @* <div class="d-flex align-items-center justify-center sm:justify-end mt-4 sm:mt-5">*@
                    <div class="d-flex flex-column-reverse sm:flex-row align-items-center justify-center sm:justify-end mt-4 sm:mt-5">
                    <button type="button" class="mt-1 sm:mt-0 button--simple" data-action="prev">
                Back
              </button>


              
                   <button type="button" data-action="next">
                Continue
              </button>
                </div>
            </section>
            <!-- / End Step 1 -->

            <!-- Step 2 -->
            <section id="progress-form__panel-2" role="tabpanel" aria-labelledby="progress-form__tab-2" tabindex="0" hidden>
                @await Component.InvokeAsync("PacketListComponent")
               
            </section>
            <!-- / End Step 2 -->

            <!-- Step 3 -->
           
                    
              
            <!-- / End Step 3 -->

            <!-- Thank You -->
            @*<section id="progress-form__thank-you" hidden>
                <p>Thank you for your submission!</p>
                <p>We appreciate you contacting us. One of our team members will get back to you very&nbsp;soon.</p>
            </section>*@
            <!-- / End Thank You -->

        </form>
        <!-- / End Progress Form -->

    </div>
</body>
<script src="/gymlife/js/index.js"></script>

</html>
