@using Entities.Concrete;
@model PacketCategoryTrainerModel;
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<br />
    <br />
	<h3 style="text-align:center;">Add Packet</h3>
	<br />
    
	@using (Html.BeginForm("Add", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
	{
		@Html.Label("Packet Name")
		@Html.TextBox("PacketName","",new { @class = "form-control", @placeholder="Please Enter Packet Name"})
		@Html.ValidationMessage("PacketName","",new { @class ="text-danger"})
			<br />
		@Html.Label("Packet Detail")
		@Html.TextBox("PacketDetail","",new { @class = "form-control", @placeholder="Please Enter Packet Detail" })
		@Html.ValidationMessage("PacketDetail","",new { @class ="text-danger"})
			<br />
		@Html.Label("Packet Price")
		@Html.TextBox("PacketPrice","",new { @class = "form-control", @placeholder="Please Enter Packet Price" })
		@Html.ValidationMessage("PacketPrice","",new { @class ="text-danger"})
			<br />
			@Html.Label("Packet Price Without Discount")
		@Html.TextBox("OldPrice","",new { @class = "form-control", @placeholder="Please Enter Packet Price Without Discount" })
		        @Html.ValidationMessage("OldPrice","",new { @class ="text-danger"})

			<br />
		@Html.Label("Right")
		@Html.TextBox("Right","",new { @class = "form-control"})
		@Html.ValidationMessage("Right","",new { @class ="text-danger" })
			<br />
		@Html.Label("Categories")
			<select class="form-control" name="CategoryId">
												 <option value="-1" disabled selected>--Choose Category--</option>

			@foreach (var item in @Model.Categories)
			{
								 <option value="@item.CategoryId">@item.CategoryName</option>
			}
			</select>
		@Html.ValidationMessage("CategoryId", "", new { @class = "text-danger" })

			<br />
		@Html.Label("Trainers")
			<select class="form-control" name="TrainerId">
													 <option value="-1" disabled selected>--Choose Trainer--</option>

			@foreach (var item in @Model.Trainers)
			{
										 <option value="@item.TrainerId">@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
			}
				</select>
		@Html.ValidationMessage("TrainerId","", new { @class = "text-danger" })
			<br />
		@Html.Label("Active")
			<select class="form-control " name="ActivePassive">
				<option value="True">Active</option>
				<option value="False">Passive</option>

			</select>
			<br />
			<select class="form-control invisible" name="Deleted">
				<option value="False"></option>
				<option value="True">Deleted</option>
			</select>
			<input class="button-change form-control btn btn-primary" type="submit" value="Add Packet" />
	}
</div>
