@using Entities.Concrete;
@model PacketCategoryTrainerModel;
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3 style="text-align:center;">Add Packet</h3>
	@using (Html.BeginForm("Add", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
	{
		@Html.Label("Packet Name")
		@Html.TextBoxFor(m=>m.CategoryTrainer.PacketName,"",new { @class = "form-control" })
		@Html.ValidationMessageFor(m=>m.CategoryTrainer.PacketName,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Packet Detail")
		@Html.TextBoxFor(m=>m.CategoryTrainer.PacketDetail,"",new { @class = "form-control" })
		@Html.ValidationMessageFor(m=>m.CategoryTrainer.PacketDetail,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Packet Price")
		@Html.TextBoxFor(m=>m.CategoryTrainer.PacketPrice,"",new { @class = "form-control" })
		@Html.ValidationMessageFor(m=>m.CategoryTrainer.PacketPrice,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Right")
		@Html.TextBox("Right","",new { @class = "form-control"})
		@Html.ValidationMessage("CategoryTrainer.Right","",new { @class ="text-danger" })
			<br />
		@Html.Label("Categories")
		@Html.DropDownListFor(m => m.CategoryTrainer.CategoryId, new SelectList(Model.Categories, "CategoryId", "CategoryName"), "--Choose Category--", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.CategoryTrainer.CategoryId, "", new { @class = "text-danger" })

			<br />
		@Html.Label("Trainers")
		@Html.DropDownListFor(m => m.CategoryTrainer.TrainerId, new SelectList(Model.Trainers, "TrainerId", "TrainerFirstName"), "--Choose Trainer--", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.CategoryTrainer.TrainerId, "", new { @class = "text-danger" })
			<br />
		@Html.Label("Active")
			<select class="form-control " name="ActivePassive">
				<option value="True">Active</option>
				<option value="False">Passive</option>

			</select>
			<br />
			<select class="form-control invisible" name="Deleted">
				<option value="False"></option>
				<option value="True">Deleted</option>
			</select>
			<input class="button-change form-control btn btn-primary" type="submit" value="Add Packet" />
	}
</div>
