@using Entities.Concrete;
@model PacketCategoryTrainerModel;
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3 style="text-align:center;">Add Packet</h3>
	@using (Html.BeginForm("add", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
	{
		@Html.Label("Packet Name")
		@Html.TextBox("PacketName","",new { @class = "form-control" })
		@Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketName,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Packet Detail")
		@Html.TextBox("PacketDetail","",new { @class = "form-control" })
		@Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketDetail,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Packet Price")
		@Html.TextBox("PacketPrice","",new { @class = "form-control" })
		@Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketPrice,"",new { @class ="text-danger" })
			<br />
		@Html.Label("Right")
		@Html.TextBox("Right","",new { @class = "form-control" })
		@Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.Right,"",new { @class ="text-danger" })
			<br />
				<label>Categories</label>
				<select class="form-control" name="CategoryId">
												 <option value="-1">--Choose Category--</option>
			@foreach (var item in @Model.categoryModel)
			{
						<option value="@item.CategoryId">@item.CategoryName</option>
			}
				</select>
		@Html.ValidationMessage("CategoryId","",new { @class ="text-danger" })
			<br />
			<label>Trainer</label>
					<select class="form-control" name="TrainerId">
													 <option value="-1">--Choose Trainer--</option>
			@foreach (var item in @Model.trainerModel)
			{
								<option value="@item.TrainerId">@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
			}
					</select>
		@Html.ValidationMessage("TrainerId","",new { @class ="text-danger" })
			<br />
		@Html.Label("Active")
			<select class="form-control " name="ActivePassive">
				<option value="True">Active</option>
				<option value="False">Passive</option>

			</select>
			<br />
			<select class="form-control invisible" name="Deleted">
				<option value="False"></option>
				<option value="True">Silindi</option>
			</select>
			<input class="button-change form-control btn btn-primary" type="submit" value="Add Packet" />
	}
</div>
