@using Entities.Concrete;
@model PacketCategoryTrainerModel;
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3 style="text-align:center;">Update Packet</h3>
    @using (Html.BeginForm("update", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
            <input type="hidden" class="form-control" name="PacketId" value="@Model.CategoryTrainer.PacketId"  />
        @Html.Label("Packet Name")
            @*<input class="form-control" type="text" name="PacketName" value="@Model.CategoryTrainer.PacketName" />*@
        @Html.TextBoxFor(m=>m.CategoryTrainer.PacketName,"",new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.CategoryTrainer.PacketName  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Detail")
        @Html.TextBoxFor(m=>m.CategoryTrainer.PacketDetail,"",new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.CategoryTrainer.PacketDetail  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Price")
        @Html.TextBoxFor(m=>m.CategoryTrainer.PacketPrice,"",new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.CategoryTrainer.PacketPrice  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Right")
        @Html.TextBoxFor(m=>m.CategoryTrainer.Right,"",new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.CategoryTrainer.Right  ,"",new { @class ="text-danger" })
        <br />
        <label>Categories</label>
				<select class="form-control" name="CategoryId">
			@foreach (var item in @Model.Categories)
			{
                if (item.CategoryId == @Model.CategoryTrainer.CategoryId)
                {
                                    <option value="@item.CategoryId" selected>@item.CategoryName</option>
                }
                else
                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                }
			}
				</select>
        
        <br />
            <label>Trainers</label>
                        <select class="form-control" name="TrainerId">
            @foreach (var item in @Model.Trainers)
            {
                if (item.TrainerId == @Model.CategoryTrainer.TrainerId)
                {
                            <option value="@item.TrainerId" selected>@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
                }
                else
                {
                         <option value="@item.TrainerId">@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
                }
                                       
            }
                        </select>
        
        <br />
                @Html.Label("Active")
        <select class="form-control" name="ActivePassive">
            @if (Model.CategoryTrainer.ActivePassive)
            {
                <option value="True" selected>Active</option>
                <option value="False">Passive</option>
            }
            else
            {
                <option value="True">Active</option>
                <option value="False" selected>Passive</option>
            }
        </select>
        <br />

        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.CategoryTrainer.Deleted)
            {
                <option value="True" selected>Deleted</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Deleted</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />
        <input class="button-change form-control btn btn-success" type="submit" value="Update Packet" />
    }
</div>

