@using Entities;
@model CategoryTrainer;
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3 style="text-align:center;">Update Packet</h3>
    @using (Html.BeginForm("update", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.PacketId,new { @class = "form-control",@type="hidden"})
        @Html.Label("Packet Name")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.PacketName,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.PacketName  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Detail")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.PacketDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.PacketDetail  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Price")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.PacketPrice,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.PacketPrice  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Right")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.Right,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.Right  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Category Id")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.CategoryId,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.CategoryId  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Trainer Id")
        @Html.TextBoxFor(CategoryTrainer=>CategoryTrainer.TrainerId,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.TrainerId  ,"",new { @class ="text-danger" })
        <br />

        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.Deleted)
            {
                        <option selected>True</option>
                        <option>False</option>
            }
            else
            {
                        <option>True</option>
                        <option selected>False</option>
            }
            </select>
            <br />
        <input class="button-change form-control btn btn-success" type="submit" value="Update Packet" />
    }
</div>

