@using Entities.Concrete;
@model PacketCategoryTrainerModel;
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3 style="text-align:center;">Update Packet</h3>
    @using (Html.BeginForm("update", "CategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.packetModel.PacketId,new { @class = "form-control",@type="hidden"})
        @Html.Label("Packet Name")
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.packetModel.PacketName,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketName  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Detail")
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.packetModel.PacketDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketDetail  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Packet Price")
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.packetModel.PacketPrice,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.PacketPrice  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Right")
        @Html.TextBoxFor(categoryTrainer=>categoryTrainer.packetModel.Right,new { @class = "form-control" })
        @Html.ValidationMessageFor(CategoryTrainer=>CategoryTrainer.packetModel.Right  ,"",new { @class ="text-danger" })
        <br />
        <label>Categories</label>
				<select class="form-control" name="CategoryId">
			@foreach (var item in @Model.categoryModel)
			{
                if (item.CategoryId == @Model.packetModel.CategoryId)
                {
                                    <option value="@item.CategoryId" selected>@item.CategoryName</option>
                }
                else
                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                }
			}
				</select>
		@Html.ValidationMessage("CategoryId","",new { @class ="text-danger" })
        <br />
            <label>Trainers</label>
                        <select class="form-control" name="TrainerId">
            @foreach (var item in @Model.trainerModel)
            {
                if (item.TrainerId == @Model.packetModel.TrainerId)
                {
                            <option value="@item.TrainerId" selected>@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
                }
                else
                {
                         <option value="@item.TrainerId">@item.TrainerFirstName.ToUpper() @item.TrainerLastName.ToUpper()</option>
                }
                                       
            }
                        </select>
        @Html.ValidationMessage("TrainerId","",new { @class ="text-danger" })
        <br />
                @Html.Label("Active")
        <select class="form-control" name="ActivePassive">
            @if (Model.packetModel.ActivePassive)
            {
                <option value="True" selected>Active</option>
                <option value="False">Passive</option>
            }
            else
            {
                <option value="True">Active</option>
                <option value="False" selected>Passive</option>
            }
        </select>
        <br />

        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.packetModel.Deleted)
            {
                <option value="True" selected>Deleted</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Deleted</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />
        <input class="button-change form-control btn btn-success" type="submit" value="Update Packet" />
    }
</div>

