@using Entities.Concrete;
@model Category;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <br />
    <br />
    <h3 style="text-align:center;">Add Category</h3>
    <br />
    
    @using (Html.BeginForm("add", "Category", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Category Name")
        @Html.TextBoxFor(category=>category.CategoryName,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.CategoryName,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Category Detail")
        @Html.TextBoxFor(category=>category.CategoryDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.CategoryDetail,"",new { @class ="text-danger" })
        <br />
        @Html.Label("İmage Url")
        @Html.TextBoxFor(category=>category.ImageUrl,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.ImageUrl,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Seo Url")
        @Html.TextBoxFor(category=>category.SeoUrl,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.SeoUrl,"",new { @class ="text-danger" })
        <br />
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>
        <input class="button-change form-control btn btn-primary" type="submit" value="Add Category" />
    }
</div>
