@using Entities.Concrete;
@model Category;
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <h3 style="text-align:center;">Update Category</h3>
    @using (Html.BeginForm("update", "Category", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(category=>category.CategoryId,new { @class = "form-control",@type="hidden"})
        @Html.Label("Category Name")
        @Html.TextBoxFor(guzergah=>guzergah.CategoryName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(guzergah=>guzergah.CategoryName  ,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Category Detail")
        @Html.TextBoxFor(category=>category.CategoryDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.CategoryDetail,"",new { @class ="text-danger" })
            <br />
        @Html.Label("İmage Url")
        @Html.TextBoxFor(category=>category.ImageUrl,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.ImageUrl,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Seo Url")
        @Html.TextBoxFor(category=>category.SeoUrl,new { @class = "form-control" })
        @Html.ValidationMessageFor(category=>category.SeoUrl,"",new { @class ="text-danger" })
            <br />
        @Html.Label("Case")
        <select class="form-control" name="deleted">
            @if (Model.Deleted) 
          {
                <option value="True" selected>Silindi</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Silindi</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />
            <input class="button-change form-control btn btn-success" type="submit" value="Update Category" />
    }
</div>