@using Entities.Concrete;
@model List<User>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>User Login</th>
            <th>User Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>National ID</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Phone Number</th>
            <th>Mail</th>
            <th>Gender</th>
            <th>Deleted</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.UserLogin</td>
                    <td>@item.UserPassword</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.NationalId</td>
                    <td>@item.Height</td>
                    <td>@item.Weight</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.Mail</td>
                    <td>@item.Gender</td>
                    <td>@item.Deleted</td>
                    <td>
                    <button type="button" class="btn btn-danger  text-center" data-bs-whatever="@item.UserId" data-bs-toggle="modal" data-bs-target="#decisionPopup">Delete </button>
                </td>
                    <td><a href="/User/Update/@item.UserId" type="button" class="btn btn-primary p-2">Update</a></td>
                </tr>
        }

    </tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
    <a href="/User/Add" class="btn btn-info">Add New User</a>
</div>


<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="silLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="silLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var UserId = button.attr('data-bs-whatever');
            var a = document.querySelector("#delete-btn");
            a.href = "/User/Delete/" + UserId
        });
    });
</script>