@using Entities.Concrete;
@model User
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Update User</h3>

    @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(user=>user.UserId,new { @class = "form-control",@name="UserId",@value="@Model.UserId",@type="hidden"})
        @Html.Label("User Login ")
        @Html.TextBoxFor(user=>user.UserLogin,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.UserLogin,"",new { @class ="text-danger" })
        <br />
        @Html.Label("User Password")
        @Html.TextBoxFor(user=>user.UserPassword ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.UserPassword,"",new { @class ="text-danger" })
        <br />
        @Html.Label("First Name")
        @Html.TextBoxFor(user=>user.FirstName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.FirstName,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Last Name")
        @Html.TextBoxFor(user=>user.LastName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.LastName,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Date Of Birth")
        @Html.TextBoxFor(user=>user.DateOfBirth,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.DateOfBirth,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Natıonal ID")
        @Html.TextBoxFor(user=>user.NationalId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.NationalId,"",new { @class ="text-danger" })
        <br />
          @Html.Label("Height")
        @Html.TextBoxFor(user=>user.Height ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.Height,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Weight")
        @Html.TextBoxFor(user=>user.Weight ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.Weight,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Phone No")
        @Html.TextBoxFor(user=>user.PhoneNo ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.PhoneNo,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(user=>user.Mail ,new { @class = "form-control" })
        @Html.ValidationMessageFor(user=>user.Mail,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Gender")
        <select class="form-control" name="Gender">
            @if (Model.Gender)
            {
                <option selected>True</option>
                <option>False</option>
            }
            else
            {
                <option>True</option>
                <option selected>False</option>
            }
        </select>
        <br />

        @Html.Label("Case")
           <select class="form-control" name="deleted">
            @if (Model.Deleted)
            {
                    <option selected>True</option>
                    <option>False</option>
            }
            else
            {
                        <option>True</option>
                        <option selected>False</option>
            }
            </select>
        <br />

        <input class="button-change form-control btn btn-success" type="submit" value="Update User" />
    }
</div>


