@using Entities.Concrete;
@model CompanyContact;

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
    <br />
    <br />
    <h3 style="text-align:center;">Add Company Contact</h3>
    <br />

    @using (Html.BeginForm("Add", "CompanyContact", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Company Contact Detail*")
        @Html.TextBoxFor(cc=>cc.CompanyContactDetail,new { @class = "form-control" })
        @Html.ValidationMessageFor(cc=>cc.CompanyContactDetail,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Which Contact*")
        <select class="form-control" name="CompanyContactIcon">
            <option disabled selected>--Choose Contact Information--</option>
            <option value="fa fa-map-marker">Adress</option>
            <option value="fa fa-mobile">Phone</option>
            <option value="fa fa-envelope">Mail</option>          
        </select>
        @Html.ValidationMessageFor(cc=>cc.CompanyContactIcon,"",new { @class ="text-danger" })
        <br />

        <input class="button-change form-control btn btn-primary" type="submit" value="Add Company Contact" />
    }
</div>
