@using Entities.Concrete;
@model CompanyContact;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var detail="";
}
<div class="p-2">
    <br />
    <br />

    <h3 style="text-align:center;">Update Company Contact</h3>
    <br />

    @using (Html.BeginForm("Update", "CompanyContact", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(cc=>cc.CompanyContactId,new { @class = "form-control",@type="hidden"})
        @Html.Label("Company Contact Detail")
        @Html.TextBoxFor(cc=>cc.CompanyContactDetail ,new { @class = "form-control" })
        @Html.ValidationMessageFor(cc=>cc.CompanyContactDetail  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Which Contact")
        @if (@Model.CompanyContactIcon == "fa fa-map-marker")
        {
            detail = "Adress";
        }
        else if (@Model.CompanyContactIcon == "fa fa-mobile")
        {
            detail = "Phone";
        }
        else
        {
            detail = "Mail";
        }
        <select class="form-control" name="CompanyContactIcon">
            <option disabled selected>@detail</option>
            <option value="fa fa-map-marker">Adress</option>
            <option value="fa fa-mobile">Phone</option>
            <option value="fa fa-envelope">Mail</option>          
        </select>
        @Html.ValidationMessageFor(cc=>cc.CompanyContactIcon,"",new { @class ="text-danger" })
        <br />
        
        <input class="button-change form-control btn btn-success" type="submit" value="Update Company Contact" />
    }
</div>