@using Entities.Concrete;
@model AppointmentSeanceUserModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Appointment</h3>

    @using (Html.BeginForm("Add", "UserHourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
     

       
        @Html.Label("Date")
        @Html.TextBox("Date","",new{@class="form-control", @type="Date"})
        @Html.ValidationMessage("Date","", new { @class = "text-danger" })
        <br />

        @Html.Label("Minute")
        @Html.TextBox("Hours","",new{@class="form-control"})
        @Html.ValidationMessage("Hours", "", new { @class = "text-danger" })
        <br />

        <label>Seance</label>
        <select class="form-control" name="SeanceId">
                                             <option value="-1" disabled selected>--Choose Seance--</option>

            @foreach (var item in @Model.HourTrainers)
            {
                         <option value="@item.SeanceId">@item.hour.Hours-@item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
            }
        </select>
        <br />


        <label>User</label>
        <select class="form-control" name="UserId">
                                                         <option value="-1" disabled selected>--Choose User--</option>
            @foreach (var item in @Model.Users)
            {
                    <option value="@item.UserId">@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
            }
        </select>
       <br />
        @Html.Label("Active")
        <select class="form-control " name="ActivePassive">
            <option value="True">Active</option>
            <option value="False">Passive</option>

        </select>
        <br />
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>


        
        <input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
    }
</div>


