@using Entities.Concrete;
@model AppointmentSeanceUserModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="p-2">
    <h3 style="text-align:center;">Add Appointment</h3>

    @using (Html.BeginForm("Add", "UserHourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
       
       
        <label>Date</label>
        <input class="form-control" type="date" name="Date" value="@Model.appointmentModel.Date" />
        <br />

        <label>Hour (Minute)</label>
        <input class="form-control" type="text" name="Hours" value="@Model.appointmentModel.Hours" />
        <br />

        <label>Seance</label>
        <select class="form-control" name="seanceId">


            @foreach (var item in @Model.seanceModel)
            {


                if (item.SeanceId == @Model.appointmentModel.SeanceId)
                {
                    <option value="@item.SeanceId" selected>@item.hour.Hours - @item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
                }
                else
                {
                    <option value="@item.SeanceId">@item.hour.Hours-@item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
                }
            }
        </select>
        <br />


        <label>User</label>
        <select class="form-control" name="UserId">


            @foreach (var item in @Model.userModel)
            {


                if (item.UserId == @Model.appointmentModel.UserId)
                {
                    <option value="@item.UserId" selected>@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
                }
                else
                {
                    <option value="@item.UserId">@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
                }
            }
        </select>
        <br />
        @Html.Label("Active")
        <select class="form-control " name="ActivePassive">
            <option value="True">Active</option>
            <option value="False">Passive</option>

        </select>
        <br />
        @Html.Label("Case")
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Silindi</option>
        </select>
        <br />


        
        <input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
    }
</div>


