@using Entities.Concrete;
@model AppointmentSeanceUserModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Appointment</h3>

    @using (Html.BeginForm("Add", "UserHourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
     

       
        <label>Date</label>
            <input class="form-control" type="date" name="Date" />
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.appointmentModel.Date, "", new { @class = "text-danger" })
        <br />

        <label>Minute</label>
        <input class="form-control" type="text" name="Hours" />
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.appointmentModel.Hours, "", new { @class = "text-danger" })
        <br />

        <label>Seance</label>
        <select class="form-control" name="seanceId">
                                         <option value="-1">--Choose Seance--</option>

            @foreach (var item in @Model.seanceModel)
            {
                         <option value="@item.SeanceId">@item.hour.Hours-@item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
            }
        </select>
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.seanceModel.FirstOrDefault().SeanceId, "", new { @class = "text-danger" })
        <br />


        <label>User</label>
        <select class="form-control" name="UserId">
                                                     <option value="-1">--Choose User--</option>
            @foreach (var item in @Model.userModel)
            {
                    <option value="@item.UserId">@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
            }
        </select>
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.userModel.FirstOrDefault().UserId, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Active")
        <select class="form-control " name="ActivePassive">
            <option value="True">Active</option>
            <option value="False">Passive</option>

        </select>
        <br />
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>


        
        <input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
    }
</div>


