@using Entities.Concrete;
@model UserHourTrainer

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="p-2">
    <h3 style="text-align:center;">Add Appointment</h3>

    @using (Html.BeginForm("Add", "UserHourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
       
        @Html.Label("Date ")
        @Html.TextBoxFor(userHourTrainer=>userHourTrainer.Date,new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.Date,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Hour (Minute)")
        @Html.TextBoxFor(userHourTrainer=>userHourTrainer.Hours ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.Hours  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Seance ID")
        @Html.TextBoxFor(userHourTrainer=>userHourTrainer.SeanceId,new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.SeanceId  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("User ID")
        @Html.TextBoxFor(userHourTrainer=>userHourTrainer.UserId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.UserId  ,"",new { @class ="text-danger" })
        <br />
         @Html.Label("Active")
        <select class="form-control " name="ActivePassive">
            <option value="False">Passive</option>
            <option value="True">Active</option>
        </select>
        <br />
        @Html.Label("Case")
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Silindi</option>
        </select>
        <br />


        
        <input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
    }
</div>


