@using GymGymACoreApplication.Models
@model AppointmentSeanceUserModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="p-2">
    <h3 style="text-align:center;">Update Appointment</h3>

    @using (Html.BeginForm("Update", "UserHourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        <input type="hidden" class="form-control" type="text" name="AppointmentId" value="@Model.appointmentModel.AppointmentId" />
        @Html.Label("Date")
        @Html.TextBox("Date","",new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.appointmentModel.Date,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Hour (Minute)")
        @Html.TextBox("Hours","" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.appointmentModel.Hours  ,"",new { @class ="text-danger" })
        <br />
        <label>Seance ID</label>
        <select class="form-control" name="seanceId">


            @foreach (var item in @Model.seanceModel)
            {


                if (item.SeanceId == @Model.appointmentModel.SeanceId)
                {
                    <option value="@item.SeanceId" selected>@item.hour.Hours</option>
                }
                else
                {
                    <option value="@item.SeanceId">@item.hour.Hours</option>
                }
            }
        </select>
        <br />

        
        @Html.Label("User ID")
        @Html.TextBox("UserId","",new { @class = "form-control" })
        @Html.ValidationMessageFor(userHourTrainer=>userHourTrainer.appointmentModel.UserId  ,"",new { @class ="text-danger" })
        <br />

        @Html.Label("Case")
        <select class="form-control" name="deleted">
            @if (Model.appointmentModel.Deleted)
            {
                <option selected>True</option>
                <option>False</option>
            }
            else
            {
                <option>True</option>
                <option selected>False</option>
            }
        </select>
        <br />

        <input class="button-change form-control btn btn-success" type="submit" value="Update Appointment" />
    }
</div>

