@using Entities.Concrete
@model AppointmentSeanceUserModel;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="p-2">
    <h3 style="text-align:center;">Update Appointment</h3>
     <form action="/UserHourTrainer/Update" method="post">
  
        <input type="hidden" class="form-control" name="AppointmentId" value="@Model.appointmentModel.AppointmentId"  />

        <label>Date</label>
       <input class="form-control" type="text" name="Date" value="@Model.appointmentModel.Date.ToString().Split(" ")[0]" />
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.appointmentModel.Date, "", new { @class = "text-danger" })
        <br />

        <label>Hour (Minute)</label>
        <input class="form-control" type="text" name="Hours" value="@Model.appointmentModel.Hours" />
        @Html.ValidationMessageFor(userHourTrainer => userHourTrainer.appointmentModel.Date, " ", new { @class = "text-danger" })

        <br />

        <label>Seance</label>
        <select class="form-control" name="seanceId">


            @foreach (var item in @Model.seanceModel)
            {


                if (item.SeanceId == @Model.appointmentModel.SeanceId)
                {
                    <option value="@item.SeanceId" selected>@item.hour.Hours - @item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
                }
                else
                {
                    <option value="@item.SeanceId">@item.hour.Hours-@item.trainer.TrainerFirstName.ToUpper() @item.trainer.TrainerLastName.ToUpper()</option>
                }
            }
        </select>
        <br />


        <label>User</label>
        <select class="form-control" name="UserId">


            @foreach (var item in @Model.userModel)
            {


                if (item.UserId == @Model.appointmentModel.UserId)
                {
                    <option value="@item.UserId" selected>@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
                }
                else
                {
                    <option value="@item.UserId">@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
                }
            }
        </select>
        <br />


          @Html.Label("Active")
        <select class="form-control" name="ActivePassive">
            @if (Model.appointmentModel.ActivePassive)
            {
                <option value="True" selected>Active</option>
                <option value="False">Passive</option>
            }
            else
            {
                <option value="True">Active</option>
                <option value="False" selected>Passive</option>
            }
        </select>
        <br />

        @Html.Label("Case")
        <select class="form-control" name="deleted">
            @if (Model.appointmentModel.Deleted)
            {
                <option value="True" selected>Silindi</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Silindi</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />

        <input class="button-change form-control btn btn-success" type="submit" value="Update Appointment" />
        </form>
   @* }*@
</div>

