@using Entities.Concrete
@model RegistrationPacketUserModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Registration</h3>

    @using (Html.BeginForm("Add", "userCategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Date Of Registration ")
        @Html.TextBox("DateOfRegistration","",new { @class = "form-control" , @type = "Date" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.registrationModel.DateOfRegistration,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Payment")
        <select class="form-control" name="PaymentType">
            <option>Cash</option>
            <option>Credit Card</option>
        </select>
        <br />
        @Html.Label("Price")
        @Html.TextBox("Price","",new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.registrationModel.Price,"",new { @class ="text-danger" })
        <br />
      <label>User</label>
				<select class="form-control" name="UserId">
												 <option value="-1">--Choose User--</option>
			@foreach (var item in @Model.userModel)
			{
						<option value="@item.UserId">@item.FirstName.ToUpper() @item.LastName.ToUpper()</option>
			}
				</select>
		@Html.ValidationMessage("UserId","",new { @class ="text-danger" })
        <br />
            <label>Packet</label>
                    <select class="form-control" name="PacketId">
                                                     <option value="-1">--Choose Packet--</option>
            @foreach (var item in @Model.packetModel)
            {
                                <option value="@item.PacketId">@item.PacketName</option>
            }
                    </select>
        @Html.ValidationMessage("PacketId","",new { @class ="text-danger" })
        <br />
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>


        <input class="button-change form-control btn btn-primary" type="submit" value="Add Registration" />
    }
</div>




