@using Entities
@model UserCategoryTrainer
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Registration</h3>

    @using (Html.BeginForm("Add", "userCategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Date Of Registration ")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.DateOfRegistration,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.DateOfRegistration,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Payment")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.PaymentType ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.PaymentType,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Price")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.Price ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.Price,"",new { @class ="text-danger" })
        <br />
      
        @Html.Label("User ID")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.UserId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.UserId,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Packet ID")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.PacketId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.PacketId,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Case")
            <select class="form-control" name="Deleted">
                <option>False</option>
            <option>True</option>
            </select>
            <br />


        <input class="button-change form-control btn btn-primary" type="submit" value="Update Trainer" />
    }
</div>




