@using Entities.Concrete
@model RegistrationPacketUserModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Registration</h3>

    @using (Html.BeginForm("Add", "userCategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Date Of Registration ")
        @Html.TextBox("DateOfRegistration","",new { @class = "form-control" , @type = "Date" })
        @Html.ValidationMessage("DateOfRegistration","",new { @class ="text-danger" })
            <br />
        @Html.Label("Payment")
        <select class="form-control" name="PaymentType">
            <option disabled selected>--Choose Payment Type--</option>
            <option>Cash</option>
            <option>Credit Card</option>
        </select>
        @Html.ValidationMessage("PaymentType","",new { @class ="text-danger" })

        <br />
        @Html.Label("Price")
        @Html.TextBox("Price","",new { @class = "form-control" })
        @Html.ValidationMessage("Price","",new { @class ="text-danger" })
            <br />
      <label>User</label>
        @Html.DropDownListFor(m => m.UserCategoryTrainer.UserId, new SelectList(Model.Users, "UserId", "FirstName"), "--Choose User--", new { @class = "form-control" })
		@Html.ValidationMessage("UserId","",new { @class ="text-danger" })
        <br />
            <label>Packet</label>
        @Html.DropDownListFor(m => m.UserCategoryTrainer.PacketId, new SelectList(Model.CategoryTrainers, "PacketId", "PacketName"), "--Choose Packet--", new { @class = "form-control" })
        @Html.ValidationMessage("PacketId","",new { @class ="text-danger" })
        <br />
        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>


        <input class="button-change form-control btn btn-primary" type="submit" value="Add Registration" />
    }
</div>




