@using Entities.Concrete
@model RegistrationPacketUserModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Update Registration</h3>

    @using (Html.BeginForm("Update", "userCategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBox("RegistrationId",Model.UserCategoryTrainer.RegistrationId,new { @class = "form-control" ,@type="hidden"})
        @Html.Label("Date Of Registration")
        @Html.TextBox("DateOfRegistration",Model.UserCategoryTrainer.DateOfRegistration,new{@class="form-control"})
        @Html.ValidationMessage("DateOfRegistration",new { @class ="text-danger" })
        <br />
      @Html.Label("Payment")
        <select class="form-control" name="PaymentType">
            @if (Model.UserCategoryTrainer.PaymentType)
          {
                <option value="True" selected>Cash</option>
                <option value="False">Credit Card</option>
            }
            else
            {
                <option value="True">Cash</option>
                <option value="False" selected>Credit Card</option>
            }
            </select>

        <br />
        @Html.Label("Price")
        @Html.TextBox("Price",Model.UserCategoryTrainer.Price,new{@class="form-control"})
        @Html.ValidationMessage("Price",new { @class ="text-danger" })
            <br />
          <label>User</label>
            <label>User</label>
            <select class="form-control" name="UserId">
            @foreach (var item in @Model.Users)
            {
                            <option value="@item.UserId">@item.FirstName.ToUpper()  @item.LastName.ToUpper()</option>
            }
            </select>
        @Html.ValidationMessage("UserId","",new { @class ="text-danger" })
        <br />
            <label>Packet</label>
            <select class="form-control" name="PacketId">
            @foreach (var item in @Model.CategoryTrainers)
            {
                            <option value="@item.PacketId">@item.PacketName</option>
            }
            </select>
      @Html.ValidationMessage("PacketId","",new { @class ="text-danger" })
        <br />
       @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.UserCategoryTrainer.Deleted)
          {
                <option value="True" selected>Deleted</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Deleted</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />
        <input class="button-change form-control btn btn-success" type="submit" value="Update Registration" />
    }
</div>


