@using Entities.Concrete
@model UserCategoryTrainer
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Update Registration</h3>

    @using (Html.BeginForm("Update", "userCategoryTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.RegistrationId,new { @class = "form-control",@name="userCategoryTrainerId",@value="@Model.userCategoryTrainerId",@type="hidden"})
        @Html.Label("Date Of Registration ")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.DateOfRegistration,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.DateOfRegistration,"",new { @class ="text-danger" })
        <br />
      @Html.Label("Case")
                <select class="form-control" name="payment">
            @if (Model.PaymentType)
            {
                        <option selected>True</option>
                            <option>False</option>
            }
            else
            {
                            <option>True</option>
                            <option selected>False</option>
            }
            </select>
        @Html.Label("Price")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.Price ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.Price,"",new { @class ="text-danger" })
        <br />
      
        @Html.Label("User ID")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.UserId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.UserId,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Packet ID")
        @Html.TextBoxFor(userCategoryTrainer=>userCategoryTrainer.PacketId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(userCategoryTrainer=>userCategoryTrainer.PacketId,"",new { @class ="text-danger" })
        <br />
       @Html.Label("Case")
        <select class="form-control" name="deleted">
            @if (Model.Deleted)
          {
                <option value="True" selected>Silindi</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Silindi</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />



        <input class="button-change form-control btn btn-success" type="submit" value="Update Registration" />
    }
</div>


