@using Entities.Concrete;
@model SeanceHourTrainerModel;
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
	<h3 style="text-align:center;">Add Seance</h3>

	@using (Html.BeginForm("Add", "HourTrainer", FormMethod.Post, new { @class = "form-group" }))
	{
			<label>Quota</label>
			<input class="form-control" type="text" name="Quota" value="@Model.seanceModel.Quota" />
			<br />

			<label>Date</label>
			<input class="form-control" type="date" name="Date" value="@Model.seanceModel.Date.ToString().Split(" ")[0]" />
			<br />

			<label>Hour</label>
			<select class="form-control" name="HourId">


			@foreach (var item in Model.hourModel)
			{
						<option value="@item.HourId">@item.Hours </option>
			}
			</select>
			<br />


			<label>Trainer</label>
			<select class="form-control" name="TrainerId">


			@foreach (var item in Model.trainerModel)
			{


							<option value="@item.TrainerId">@item.TrainerFirstName.ToUpper()  @item.TrainerLastName.ToUpper()</option>

			}
			</select>
			<br />
		@Html.Label("Active")
			<select class="form-control " name="ActivePassive">
				<option value="True">Active</option>
				<option value="False">Passive</option>

			</select>
			<br />

			<select class="form-control invisible" name="Deleted">
				<option value="False"></option>
				<option value="True">Silindi</option>
			</select>
			<input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
	}
</div>
