@using Entities.Concrete;
@model HourTrainer;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Seance</h3>
    @using (Html.BeginForm("add", "HourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.Label("Quato")
        @Html.TextBoxFor(hourTrainer=>hourTrainer.Quota,new { @class = "form-control" })
        @Html.ValidationMessageFor(hourTrainer=>hourTrainer.Quota,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Date")
        @Html.TextBoxFor(hourTrainer=>hourTrainer.Date,new { @class = "form-control" })
        @Html.ValidationMessageFor(hourTrainer=>hourTrainer.Date,"",new { @class ="text-danger" })
        <br />
        
        <br />
           @Html.Label("Hour Id")
        @Html.TextBoxFor(hourTrainer=>hourTrainer.HourId,new { @class = "form-control" })
        @Html.ValidationMessageFor(hourTrainer=>hourTrainer.HourId,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Trainer Id")
        @Html.TextBoxFor(hourTrainer=>hourTrainer.TrainerId,new { @class = "form-control" })
        @Html.ValidationMessageFor(hourTrainer=>hourTrainer.TrainerId,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Case")
            <select class="form-control" name="Delete">
            <option>False</option>
                <option>True</option>
            </select>
            <br />
        <input class="button-change form-control btn btn-primary" type="submit" value="Add Seance" />
    }
</div>
