@using Entities.Concrete;
@model SeanceHourTrainerModel;
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="p-2">
	<br />
	<br />
	<h3 style="text-align:center;">Add Seance</h3>
	<br />
	
	@using (Html.BeginForm("Add", "HourTrainer", FormMethod.Post, new { @class = "form-group" }))
	{
			<label>Quota</label>
			@Html.TextBox("Quota","", new {@class="form-control", @placeholder="Enter Quota"})
			@Html.ValidationMessage("Quota","", new {@class="text-danger"})
			<br />

			<label>Date</label>
			@Html.TextBox("Date","", new {@class="form-control", @type="date"})
			@Html.ValidationMessage("Date","", new {@class="text-danger"})
			<br />

			<label>Hour</label>

			<select class="form-control" name="HourId">
					<option value="-1" disabled selected>--Choose Hour--</option>
			@foreach (var item in Model.Hours)
			{
						<option value="@item.HourId">@item.Hours </option>
			}
			</select>
			<br />

			<label>Trainer</label>
			<select class="form-control" name="TrainerId">
				<option value="-1" disabled selected>--Choose Trainer--</option>
			@foreach (var item in Model.Trainers)
			{
							<option value="@item.TrainerId">@item.TrainerFirstName.ToUpper()  @item.TrainerLastName.ToUpper()</option>
			}
			</select>
			<br />
			@Html.Label("Active")
			<select class="form-control " name="ActivePassive">
				<option value="True">Active</option>
				<option value="False">Passive</option>

			</select>
			<br />

			<select class="form-control invisible" name="Deleted">
				<option value="False"></option>
				<option value="True">Deleted</option>
			</select>
			<input class="form-control btn btn-primary" type="submit" value="Add Appointment" />
	}
</div>
