@using Entities.Concrete;
@model SeanceHourTrainerModel;
@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3 style="text-align:center;">Update Seance</h3>
	@using (Html.BeginForm("update", "HourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        <input type="hidden" class="form-control"  name="SeanceId" value="@Model.HourTrainer.SeanceId" />

        <label>Quota</label>
        <input class="form-control" type="text" name="Quota" value="@Model.HourTrainer.Quota" />
        <br />

        <label>Date</label>
        <input class="form-control" type="text" name="Date" value="@Model.HourTrainer.Date.ToString().Split(" ")[0]" />
        <br />

        <label>Hour</label>
        <select class="form-control" name="hourId">


            @foreach (var item in @Model.Hours)
            {


                if (item.HourId == @Model.HourTrainer.HourId)
                {
                    <option value="@item.HourId" selected>@item.Hours </option>
                }
                else
                {
                    <option value="@item.HourId">@item.Hours</option>
                }
            }
        </select>
        <br />


        <label>Trainer</label>
        <select class="form-control" name="TrainerId">


            @foreach (var item in @Model.Trainers)
            {


                if (item.TrainerId == @Model.HourTrainer.TrainerId)
                {
                    <option value="@item.TrainerId" selected>@item.TrainerFirstName.ToUpper()  @item.TrainerLastName.ToUpper()</option>
                }
                else
                {
                    <option value="@item.TrainerId">@item.TrainerFirstName.ToUpper()  @item.TrainerLastName.ToUpper()</option>
                }
            }
        </select>
        <br />


        @Html.Label("Active")
        <select class="form-control" name="ActivePassive">
            @if (Model.HourTrainer.ActivePassive)
            {
                <option value="True" selected>Active</option>
                <option value="False">Passive</option>
            }
            else
            {
                <option value="True">Active</option>
                <option value="False" selected>Passive</option>
            }
        </select>
        <br />

        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.HourTrainer.Deleted)
            {
                <option value="True" selected>Deleted</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Deleted</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />

        <input class="button-change form-control btn btn-success" type="submit" value="Update Seance" />
    }
</div>