@using Entities.Concrete;
@model SeanceHourTrainerModel;
@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3 style="text-align:center;">Update Seance</h3>
	@using (Html.BeginForm("update", "HourTrainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(ht=>ht.HourTrainer.SeanceId,"",new {@class="form-control" ,@type="hidden"})

        @Html.Label("Quota")
        @Html.TextBoxFor(ht=>ht.HourTrainer.Quota,"",new {@class="form-control"})
        @Html.ValidationMessage("Quota",new { @class ="text-danger" })
        <br />
        @Html.Label("Date")
        @Html.TextBoxFor(ht=>ht.HourTrainer.Date,"",new {@class="form-control"})
        @Html.ValidationMessage("Date",new { @class ="text-danger" })
        <br />
        @Html.Label("Hour")
        @Html.DropDownListFor(ht => ht.HourTrainer.HourId, new SelectList(Model.Hours, "HourId", "Hours"), "--Update Hour--", new { @class = "form-control" })
        @Html.ValidationMessage("HourId",new { @class ="text-danger" })
        <br />
        @Html.Label("Trainer")
        @Html.DropDownListFor(m => m.HourTrainer.TrainerId, new SelectList(Model.Trainers, "TrainerId", "TrainerFirstName" ,"TrainerLastName"), "--Update Trainer--", new { @class = "form-control" })
        @Html.ValidationMessage("TrainerId",new { @class ="text-danger" })
        <br />
        @Html.Label("Active")
        <select class="form-control" name="ActivePassive">
            @if (Model.HourTrainer.ActivePassive)
            {
                <option value="True" selected>Active</option>
                <option value="False">Passive</option>
            }
            else
            {
                <option value="True">Active</option>
                <option value="False" selected>Passive</option>
            }
        </select>
        @Html.ValidationMessage("ActivePassive",new { @class ="text-danger" })
        <br />
        @Html.Label("Case")
        <select class="form-control" name="Deleted">
            @if (Model.HourTrainer.Deleted)
            {
                <option value="True" selected>Deleted</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Deleted</option>
                <option value="False" selected>--</option>
            }
        </select>
        @Html.ValidationMessage("Deleted",new { @class ="text-danger" })
        <br />
        <input class="button-change form-control btn btn-success" type="submit" value="Update Seance" />
    }
</div>


@*<select class="form-control" name="hourId">


            @foreach (var item in @Model.Hours)
            {


                if (item.HourId == @Model.HourTrainer.HourId)
                {
                    <option value="@item.HourId" selected>@item.Hours </option>
                }
                else
                {
                    <option value="@item.HourId">@item.Hours</option>
                }
            }
        </select>*@