@using Entities.Concrete;
@model Trainer

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3 style="text-align:center;">Add Trainer</h3>

    @using (Html.BeginForm("Add", "Trainer", FormMethod.Post, new { @class = "form-group" }))
    {

        @Html.Label("Trainer Login ")
        @Html.TextBoxFor(trainer=>trainer.TrainerLogin,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerLogin,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Trainer Password")
        @Html.TextBoxFor(trainer=>trainer.TrainerPassword ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerPassword  ,"",new { @class ="text-danger" })
        <br />
           @Html.Label("First Name")
        @Html.TextBoxFor(trainer=>trainer.TrainerFirstName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerFirstName  ,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Last Name")
        @Html.TextBoxFor(trainer=>trainer.TrainerLastName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerLastName  ,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Natıonal ID")
        @Html.TextBoxFor(trainer=>trainer.TrainerNationalId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerNationalId  ,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Phone No")
        @Html.TextBoxFor(trainer=>trainer.TrainerPhoneNo ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerPhoneNo  ,"",new { @class ="text-danger" })
        <br />
           @Html.Label("Mail")
        @Html.TextBoxFor(trainer=>trainer.TrainerMail ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerMail  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Date Of Birth")
        @Html.TextBoxFor(trainer=>trainer.TrainerDateOfBirth ,new {@type = "Date", @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerDateOfBirth  ,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Image Url")
        @Html.TextBoxFor(trainer=>trainer.TrainerImgUrl ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerImgUrl,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Gender")
        <select class="form-control" name="TrainerGender">
            <option value="True">Man</option>
            <option value="False">Woman</option>
        </select>
        <br />

        <select class="form-control invisible" name="Deleted">
            <option value="False"></option>
            <option value="True">Deleted</option>
        </select>

        <input class="button-change form-control btn btn-primary" type="submit" value="Add Trainer" />
    }
</div>

