@using Entities.Concrete
@model Trainer

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3></h3>
    <h3 style="text-align:center;">Update Trainer</h3>

    @using (Html.BeginForm("Update", "Trainer", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.TextBoxFor(trainer=>trainer.TrainerId,new { @class = "form-control",@name="TrainerId",@value="@Model.TrainerId",@type="hidden"})
        @Html.Label("Trainer Login ")
        @Html.TextBoxFor(trainer=>trainer.TrainerLogin,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerLogin,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Trainer Password")
        @Html.TextBoxFor(trainer=>trainer.TrainerPassword ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerPassword,"",new { @class ="text-danger" })
        <br />
        @Html.Label("First Name")
        @Html.TextBoxFor(trainer=>trainer.TrainerFirstName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerFirstName,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Last Name")
        @Html.TextBoxFor(trainer=>trainer.TrainerLastName ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerLastName,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Natıonal ID")
        @Html.TextBoxFor(trainer=>trainer.TrainerNationalId ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerNationalId,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Phone No")
        @Html.TextBoxFor(trainer=>trainer.TrainerPhoneNo ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerPhoneNo,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Mail")
        @Html.TextBoxFor(trainer=>trainer.TrainerMail ,new { @class = "form-control" })
        @Html.ValidationMessageFor(trainer=>trainer.TrainerMail,"",new { @class ="text-danger" })
        <br />
        @Html.Label("Date Of Birth")
               <input class="form-control" type="text" name="TrainerDateOfBirth" value="@Model.TrainerDateOfBirth.ToString().Split(" ")[0]" />
        @Html.ValidationMessageFor(trainer=>trainer.TrainerDateOfBirth  ,"",new { @class ="text-danger" })
        <br />
          @Html.Label("Gender")
        <select class="form-control" name="TrainerGender">
            @if (Model.TrainerGender)
            {
                <option value="True" selected>Man</option>
                <option value="False">Woman</option>
            }
            else
            {
                <option value="True">Man</option>
                <option value="False" selected>Woman</option>
            }
        </select>
        <br />

        @Html.Label("Case")
        <select class="form-control" name="deleted">
            @if (Model.Deleted)
            {
                <option value="True" selected>Silindi</option>
                <option value="False">--</option>
            }
            else
            {
                <option value="True">Silindi</option>
                <option value="False" selected>--</option>
            }
        </select>
        <br />
        <br />

        <input class="button-change form-control btn btn-success" type="submit" value="Update Trainer" />
    }
</div>

